.detail__container{
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}

.character-detail{
    background-color:#44b7fa;
    color:white;
    width:600px;
    padding:30px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.ch__info-box{
    display:flex;
    flex-direction:row;
    font-size:16px;
}
.character-detail__title{
   padding:0;
   margin:0;
   margin-right:5px;
   margin-top:20px;
}
.character-detail__info{    
   padding:0;
   margin:0;
   margin-top:20px;
}
.character-detail-text{
   
}

.character-detail__img-ct{

}

.character-detail__img{

}

.app__back{
    margin-bottom:10px;
    width:600px;
    display:block;
    color:white;
    text-align: right;
}